.resourcesContainer {
  background-color: #f0e7de;
  height: 90vh;
  object-fit: contain;
  background-image: url("../../assets/Hand-together.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContain {
  background-color: #faf9f2;
  border: 2vh;
  border-color: #34170c;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.browse_resources {
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
  background: black;
  border: 5px solid white;
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 4vh;
  transition: 0.3s ease;
  border-radius: 100px;
}

.browse_resources:hover {
  transform: translateY(-20px);
  background-color: #34170c;
  border-color: #34170c;
}
