<<<<<<< HEAD
.collectionContainer {
=======
/* .collectionContainer {
>>>>>>> main
  width: 100%;
  height: 10rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.collectionContainer:hover .collection {
  cursor: pointer;
  transform: rotateY(180deg);
}

.collection {
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  color: black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.mainCard, .backCard {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.backCard {
  transform: rotateY(180deg);
<<<<<<< HEAD
}
=======
} */



body {
  background-color: #f5f0e1; /* Light brown background color */
}

.flashcard-carousel {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* White background color */
  border: 1px solid #000; /* Black border */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.flashcard {
  margin-bottom: 20px;
}

.flashcard-question {
  font-size: 20px;
  margin-bottom: 10px;
}

.flashcard-answer {
  font-size: 16px;
  color: #666;
}

.carousel-controls {
  margin-top: 20px;
}

.prev-button,
.next-button {
  padding: 10px 20px;
  background-color: #336699;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.prev-button:hover,
.next-button:hover {
  background-color: #1a4266;
}

.prev-button {
  margin-right: 10px;
}

.next-button {
  
margin-left: 10px;
}
>>>>>>> main
