.home-container {
    min-height: 100vh;
    width: 100vw;
    background-color: #F0E7DE;
    height: 85vh;
}

.style-title-upper {
    font-size: 6em;
    color: #41110C;
    text-align: start;
    padding-top: 2vh;
}

.style-title-lower {
    font-size: 6em;
    color: #41110C;
    text-align: start;
}

.position-small-content {
    align-items: center;
}

.style-small-content {
    color: #41110C;
    text-align: start;
    padding-top: 1em;
}