.flash_card{
    display:grid;
    grid-template: 0.5fr 1fr  0.5fr/0.5fr 1fr  0.5fr ;
    gap: 5px;
    text-align: center;
    background-color: #F0E7DE;
}

.card__inner{
    box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.15);
    height: 40rem;
    width:100% ;
    padding: 10em 10em;
    border-radius: 0.6em;
    cursor: pointer;
    background-color:azure;
    grid-row: 2/3;
    grid-column: 2/3;
}