
.flash_card{
    margin: 100px auto 0;
    
    height: 250px;
    width: 250px; 
    
}

.card__inner{
    height: 200px;
    width: 200px; 
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;



}

.card__inner.is-flipped{
    transform: rotateY(180deg);

}

.card__face {
    position: absolute;  
    height: 100%;
    width: 100%; 
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.15);
}

.card__face--front{
    
    background-image: linear-gradient(to bottom right, var(--primary), var (--secondary));
    justify-content: center;
    align-items: center;
    display: flex;
}

.card__face--front h2{
    color: black;
    font-size: 32px;
}

.card__face--back{
    
    background-color: rgb(205, 255, 196);
    transform: rotateY(180deg);
}

 
