.word-details-container {
    background-color: #ffffff;
    height: 85vh;
}

.main-word-details {
    font-size: 5em;
    font-weight: bold;
    color: #41110C;
    text-align: start;
    padding-top: 2vh;
}

.next-button {
    padding-top: 4em;
}

.details-word-details {
    padding-top: 2vh;
    text-align: start;
}