.styleNavbar {
  background-color: #f0e7de;
  height: 15vh;
}

.styleNav {
  display: flex;
}

.styleItem {
  padding-left: 3em;
  padding-right: 3em;
}

/* Set the style for the login and signup buttons */
.styleNav .styleItem button {
  margin-right: 10px;
  border-radius: 1rem;
}

/* Change the background color of the buttons on hover */
.styleNav .styleItem button:hover {
  background-color: #3b1404;
}

/* Set the style for the links */
.style-nav .style-item a {
  color: #3b1404;
  text-decoration: none;
}

/* Change the color of the links on hover */
.style-nav .style-item a:hover {
  color: #1f0707;
  text-decoration: none;
}
