.container {
  height: 100%;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}

.text {
  color: var(--bold-text-color);
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-align: left;
  font-family: "Nunito";
}

.instruction_text {
  color: var(--bold-text-color);
  font-weight: 800;
  font-size: 0.9em;
  text-align: left;
}
.form {
  display: flex;
  /* height: 55%; */
  /* border: 5px solid red; */
}

.translationSec {
  display: flex;
  padding: 0 2px;
  border: 2px solid black;
  background: white;
  border-radius: 5px;
  /* height: inherent; */
  flex-flow: row wrap;
  overflow: auto;
}

.img {
  margin: 1rem;
  height: 50%;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
}

.input:not(active) {
  background: white;
  box-shadow: none;
  border: 2px solid var(--bold-text-color);
}

.input:focus {
  box-shadow: 0 0 0 0.2rem #8ebdb1;
  background: white !important;
  outline: none !important;
  border: 2px solid var(--bold-text-color);
}
