.container {
  height: 100%;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}

.text {
  color: var(--bold-text-color);
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-align: left;
  font-family: "Nunito";
}

.instruction_text {
  color: var(--bold-text-color);
  font-weight: 800;
  font-size: 0.9em;
  text-align: left;
}
.form {
  display: flex;
}

.translationSec {
  display: flex;
  padding: 0 2px;
  border: 2px solid black;
  background: white;
  border-radius: 5px;
  height: 600px;
  flex-flow: row wrap;
  overflow: auto;
}

.img {
  margin: 1rem;
  border: 2px solid black;
  border-radius: 10px;
}
.inputCol {
  margin-top: 20%;
  margin-left: 10%;
  width: 50%;
}

.input,
.input:not(active),
.input:active,
.input:focus {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .img {
    flex: none !important;
    width: 83.33333333%;
  }

  .inputCol {
    display: flex;
    flex-direction: row;
    margin: 10%;
    width: 70%;
  }

  .input {
    height: 100%;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .img {
    flex: none !important;
    width: 41.66666667%;
    height: 50%;
  }

  .inputCol {
    width: 70%;
  }

  .input {
    height: 20%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .img {
    flex: none !important;
    width: 41.66666667%;
    height: 50%;
  }

  .inputCol {
    width: 70%;
  }

  .input {
    height: 20%;
  }
}

@media only screen and (min-width: 1400px) {
  .img {
    flex: none !important;
    width: 41.66666667%;
    height: 50%;
  }

  .input {
    height: 20%;
  }
}
