.lessons-container {
    background-color: #F0E7DE;
    height: 85vh;
}

.lessons-top-page {
    background-color: #E8CBA2;
}

.lessons-welcome { 
    display: flex;
    text-align: start;
    align-items: center;
}

.lessons-card {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #F5F5CF;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 10px;
}

