.lessonsContainer {
  background-color: #f0e7de;
  height: 85vh;
}

.lessonsTopPage {
  background-color: #e8cba2;
}

.lessonsWelcome {
  padding-top: 3em;
  text-align: start;
}

.lessonsCardLocate {
  padding: 2em;
}

.lessonsCard {
  background-color: #f5f5cf !important;
}
