.aboutContainer {
    height: 150vh;
    background-image: url('../../assets/Hand.jpg') ;
}

.aboutText {
    text-align: start;
    font-size: 0.8rem;
}

.aboutTitle {
    text-align: start;
    margin-bottom: 1.5em;
}

.membersBox {
    height: 65vh;
    background-color: #E6CDB5;
}

.imageCol { 
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imageBack { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
    border-radius: 50%;
    height: 220px;
    width: 140px;
    background-color: #FFE4C4;
}

.memberImage {
    display: flex;
    height: 26vh;
    width: 17vh;
    border-radius: 50%;
    object-fit: cover;
}